<p><%= flash[:alert] %></p>

<%= form_for @stat, url: search_path do |f| %>
  <%= f.label :total_win, '全勝利数' %>
  <%= f.text_field :total_win %>
  <br />

  <%= f.label :win_ratio, '勝率' %>
  <%= f.text_field :win_ratio %>
  <br />

  <%= f.label :match_played, '全試合数' %>
  <%= f.text_field :match_played %>
  <br />

  <%= f.label :mvp, 'MVP' %>
  <%= f.text_field :mvp %>
  <br />

  <%= f.label :score, '平均得点' %>
  <%= f.text_field :score %>
  <br />

  <%= f.label :rebound, '平均リバウンド' %>
  <%= f.text_field :rebound %>
  <br />

  <%= f.label :block, '平均ブロック' %>
  <%= f.text_field :block %>
  <br />

  <%= f.label :steal, '平均スティール' %>
  <%= f.text_field :steal %>
  <br />

  <%= f.label :assist, '平均アシスト' %>
  <%= f.text_field :assist %>
  <br />

  <%= f.label :looseball, '平均ルーズボール' %>
  <%= f.text_field :looseball %>
  <br />

  <%= f.submit '検索' %>
<% end %>
